@use '../base/functions' as fun;
@use '../base/variables' as var;

main{
    margin-top: var.$height-header;
}

.container{
    margin: auto;
    width: 90%;
    max-width: var.$limit-width;
    padding: 60px 0;
}