@use '../base/functions' as fun;

.custom-form{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
    padding: 30px;
    .block-actions,
    .w100{
        grid-column: 1/3;
    }
}

@media (max-width: fun.breakpoints('ipad-big')){
    .custom-form{
        grid-template-columns: repeat(1, 1fr);
        .w100,
        .block-actions{
            grid-column: 1/2;
        }
    }
}