@use '../base//functions' as fun;

//Clients list
.clients-list{  
    &__header,
    &__body{
        display: flex;
        justify-content: space-between;
        background-color: rgb(231, 231, 231);
        border-radius: 10px;
        p{
            font-size: 1.6rem;
        }
        .item{
            flex: 1;
            display: flex;
            align-items: center;
            &:nth-child(4),
            &:nth-child(5){
                max-width: 100px;
            }
            &:last-child{
                max-width: 200px;
                text-align: center;
                justify-content: center;
            }
        }
    }
    &__header{
        padding: 15px;
        p{
            font-weight: 500;
        }
    }
    &__body{
        padding: 10px;
        &:nth-child(even){
            background-color: #fff;
        }
        &:nth-child(odd){
            background-color: rgb(243, 243, 243);
        }
        .btn{
            max-width: 200px;
            gap: 10px;
        }
        p{
            &:first-child{
                display: none;
            }
        }
        a, button{
            &:not(.btn){
                outline: inherit;
                border: none;
                background-color: transparent;
                cursor: pointer;
                &:hover{
                    opacity: .7;
                }
            }
            img{
                width: 18px;
            }
        }
        .item{
            margin: 5px 0;
        }
    }
}

//Clients filter
.clients-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    form{
        width: 100%;
        max-width: 200px;
    }
    b{
        font-weight: 600;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .clients-list{  
        &__header{
            display: none;
        }
        &__body{
            flex-direction: column;
            margin-bottom: 20px;
            &:nth-child(even){
                background-color: rgb(246, 246, 246);
            }
            .item{
                max-width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                p{
                    &:first-child{
                        display: flex;
                        font-weight: 500;
                    }
                }
                &:nth-child(4),
                &:nth-child(5){
                    max-width: 100%;
                }
                &:nth-child(4){
                    p{
                        color: fun.color('primary');
                    }
                }
                &:nth-child(5){
                    p{
                        color: fun.color('danger');
                    }
                }
                &:last-child{
                    justify-content: center;
                    max-width: 100%;
                }
                &.btn{
                    margin: 20px auto 10px;
                    max-width: 100%;
                    min-height: 35px;
                }
            }
        }
    }
    .clients-filter{
        display: flex;
        flex-direction: column;
        form{
            width: 100%;
            max-width: 200px;
        }
        b{
            font-weight: 600;
        }
    }
}